%h1
  Listing tasks

-#this is the scorecard table
%table.scorecard
  %tr
    -(1..9).each do |frame|
      %td.frame
        %table
          %tr
            %td.box1 box1
            %td.box2 box2
          %tr
            %td.total total

%table
  %tr
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>

-@tasks.each do |task|
  %tr
    %td
      = task.name
    %td
      = link_to 'Show', task
    %td
      = link_to 'Edit', edit_task_path(task)
    %td
      = link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete
    <br />

= link_to 'New Task', new_task_path
