%h1 Welcome to life bowling!
%table.scorecard
  %tr
    %td.day{:colspan => '2', :align => 'center'}
      MON
    %td.day{:colspan => '2', :align => 'center'}
      TUE
    %td.day{:colspan => '2', :align => 'center'}
      WED
    %td.day{:colspan => '2', :align => 'center'}
      THU
    %td.day{:colspan => '2', :align => 'center'}
      FRI
  %tr
    -@game.frames.each do |frame|
      -@frame = frame
      -if active?
        =render :partial => 'shared/activeframe'
      -else
        =render :partial => 'shared/inactiveframe'
= link_to 'CLEAR GAME', 'cleargame', :confirm => 'This will ruin your current game.  You sure?'
%br
%br
%h1 Next Tasks:
-#render :partial => 'shared/task', :collection => @game.tasks
-#render :partial => 'shared/taskform'
= link_to 'New Task', new_task_path
<p id="notice">
= notice

<p>
<b>Current frame:</b>
= @game.current_frame
</p>


= link_to 'Edit', edit_game_path(@game)
= link_to 'Back', games_path
